@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Counter Animation */
.counter {
  display: flex;
  align-items: center;
}

.counter span {
  font-size: 2rem;
  margin: 0 1rem;
  animation: countAnimation 0.5s ease-out forwards;
}

@keyframes countAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.ellipse1 {
  /* width: 465.68px;
  height: 465.68px; */
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(134, 82, 255, 0.9);
  box-shadow: 600px 600px 600px;
  border-radius: 9999px;
  filter: blur(600px);
}
.ellipse2 {
  /* width: 465.68px;
  height: 465.68px; */
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(134, 82, 255, 0.9);
  box-shadow: 600px 600px 600px;
  border-radius: 9999px;
  filter: blur(600px);
}
.ellipse3 {
  /* width: 465.68px;
  height: 465.68px; */
  right: 0;
  top: 0;
  position: absolute;
  background: rgba(134, 82, 255, 0.9);
  box-shadow: 600px 600px 600px;
  border-radius: 9999px;
  filter: blur(100px);
}
@media screen and (min-width: 768px) {
  .ellipse3 {
    filter: blur(600px);
  }
}

.custom-input:focus {
  outline: none;
}

.spinner {
  border: 6px solid rgba(134, 82, 255, 0.3); /* Set border color */
  border-top: 6px solid #8652ff; /* Set top border color to create spinner effect */
  border-radius: 50%; /* Create a circular border */
  width: 45px; /* Set width and height */
  height: 45px;
  animation: spin 1s linear infinite; /* Apply spin animation */
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Initial state */
  100% {
    transform: rotate(360deg);
  } /* Final state */
}
